In [1]:
5/2

2.5

In [2]:
int(7/2)

3

In [3]:
7//2

3

### Muiple value Assignment

In [4]:
height = 4
width = 5
depth = 7

volume = height * width * depth 
volume

140

In [5]:
height1,width1,depth1 = 4,5, 7

volume1 = height1 * width1 * depth1 
volume1

140

In [6]:
height1,width1 = 4,5, 7

ValueError: too many values to unpack (expected 2)

In [7]:
height1,width1,depth1 = 4,5

ValueError: not enough values to unpack (expected 3, got 2)

In [8]:
"Akash" + "Akash"

'AkashAkash'

In [9]:
"akash "*5

'akash akash akash akash akash '

### String Methods

In [10]:
my_string = "AiLabs welcomes you"
my_string.upper()

'AILABS WELCOMES YOU'

In [11]:
my_string.find('A')

0

In [12]:
my_string.count('e')

2

In [ ]:
# Error

In [13]:
prit("hello")

NameError: name 'prit' is not defined

In [14]:
4/2

2.0

In [15]:
4/0

ZeroDivisionError: division by zero

### Format

In [16]:
# example 

a = 5
b = 6

print("The value of a is",a ,"and b is",b)

print("The value of a is {} and b is {}".format(a,b))

The value of a is 5 and b is 6
The value of a is 5 and b is 6

### List --> Negative Indexing

In [17]:
List = [4,5,6,7,8,9,10,12,15,14,48]
List[0]

4

In [18]:
List[-1]

48

#### Membership operator :

In [19]:
List[0:5]

[4, 5, 6, 7, 8]

In [21]:
len(List)

11

In [22]:
List[1:]

[5, 6, 7, 8, 9, 10, 12, 15, 14, 48]

In [23]:
List[:10]

[4, 5, 6, 7, 8, 9, 10, 12, 15, 14]

In [24]:
List[:11]

[4, 5, 6, 7, 8, 9, 10, 12, 15, 14, 48]

In [25]:
List[12]

IndexError: list index out of range

In [27]:
List[:1222]

[4, 5, 6, 7, 8, 9, 10, 12, 15, 14, 48]

In [28]:
List[0:5:2]

[4, 6, 8]

In [29]:
student = "Barry"
student[0:2]

'Ba'

In [30]:
max(student)

'y'

# List

In [1]:
student = ["Barry", "Allen", "Akash", "Rock"]

In [2]:
student.sort()

In [3]:
student

['Akash', 'Allen', 'Barry', 'Rock']

In [4]:
max([2,"two"])

TypeError: '>' not supported between instances of 'str' and 'int'

In [5]:
# join

name = "_".join(["Akash", "o","Lantern"])
name

'Akash_o_Lantern'

In [6]:
name = "\n".join(["Akash", "o","Lantern"])
#print(name)
name

'Akash\no\nLantern'

In [8]:
var1, var2  = 4,5

In [9]:
var1, var2

(4, 5)

In [10]:
var1, var2  = [20,15]

In [11]:
var1

20

In [12]:
var2

15

In [13]:
var = (5,6)

In [14]:
type(var)

tuple

In [16]:
tup = (4 , 5 ,6 )

In [19]:
var1 , var2, var3  = (4 , 5 ,6 )

In [20]:
var1

4

Another thing that they both supports aare membership operators:

* **in:** evaluates if an object on the left side is included in the object on the right side.
* **not in:** evaluates if object on left side is not included in object on right side.

In [21]:
greeting = "Hello there"
print('her' in greeting, 'her' not in greeting)

True False

In [23]:
print('Megha' in student, 'Megha' not in student)

False True

There are some useful functions for lists that you should get familier with.

1. ***len():*** returns how many elements does the list has.
2. ***max():*** returns the greatest element of a list.
3. ***min():*** returns the smallest element of a list.
4. ***sorted():*** returns a copy of the list, in order from smallest to the largest. leaving the orignal list unchanged

> max element in a list of integers is the largest integer, while in the case of string is the string that will come last if the list was sorted alphabetically.

In [24]:
students = ['sam', 'pam', 'rocky', 'austin', 'steve', 'banner', 'bruce', 'tony',
            'henry', 'clark', 'diana']

student = "barry"

print(max(students))
print(max(student))

tony
y

In [27]:
print(sorted(students))

['austin', 'banner', 'bruce', 'clark', 'diana', 'henry', 'pam', 'rocky', 'sam', 'steve', 'tony']

In [29]:
print(students)

['sam', 'pam', 'rocky', 'austin', 'steve', 'banner', 'bruce', 'tony', 'henry', 'clark', 'diana']

In [ ]:
# characters = sorted(students)
# print(characters)

# SETS

In [30]:
fruit = {"apple", "banana", "orange", "grapefruit"}  # define a set

print("watermelon" in fruit)  # check for element

False

In [31]:
fruit.add("watermelon")  # add an element
print(fruit)

{'grapefruit', 'banana', 'orange', 'watermelon', 'apple'}

In [32]:
print(fruit.pop())  # remove a random element
print(fruit)

grapefruit
{'banana', 'orange', 'watermelon', 'apple'}

# Dict

In [34]:
elements = {"hydrogen": 1, "helium": 2, "carbon": 6}

In [35]:
print(elements["helium"])  # print the value mapped to "helium"
elements["lithium"] = 3  # insert "lithium" with a value of 3 into the dictionary
elements

2

{'hydrogen': 1, 'helium': 2, 'carbon': 6, 'lithium': 3}

In [36]:
elements["boron"]

KeyError: 'boron'

**get()** looks up values in a dictionary, <br> get returns **None** (or a default value of your choice) if the key isn't found.

In [37]:
print("carbon" in elements)
print(elements.get("dilithium"))

True
None

In [38]:
population = {"New York":17.8,"Spain":13.3, }
print(population)

{'New York': 17.8, 'Spain': 13.3}

In [39]:
print(population.get('London'))

None

In [40]:
population['London']

KeyError: 'London'

In [41]:
population.get('London', 'There\'s no such place!')

"There's no such place!"

In [42]:
population.get('New York', 'There\'s no such place!')

17.8

In [43]:
elements = {"hydrogen": {"number": 1,
                         "weight": 1.00794,
                         "symbol": "H"},
              "helium": {"number": 2,
                         "weight": 4.002602,
                         "symbol": "He"}}

In [44]:
elements["hydrogen"]

{'number': 1, 'weight': 1.00794, 'symbol': 'H'}

In [46]:
helium = elements["helium"]  # get the helium dictionary
helium

{'number': 2, 'weight': 4.002602, 'symbol': 'He'}

In [47]:
hydrogen_weight = elements["hydrogen"]["weight"]  # get hydrogen's weight
print(hydrogen_weight)

1.00794

In [48]:
oxygen = {"number":8,"weight":15.999,"symbol":"O"}  # create a new oxygen dictionary 
elements["oxygen"] = oxygen  # assign 'oxygen' as a key to the elements dictionary

print('elements = ', elements)

elements =  {'hydrogen': {'number': 1, 'weight': 1.00794, 'symbol': 'H'}, 'helium': {'number': 2, 'weight': 4.002602, 'symbol': 'He'}, 'oxygen': {'number': 8, 'weight': 15.999, 'symbol': 'O'}}

### **Question:**

Try your hand at working with nested dictionaries. Add another entry, *'is_noble_gas,'* to each dictionary in the *elements* dictionary. After inserting the new entries you should be able to perform these lookups:



---

> print(elements['hydrogen']['is_noble_gas'])<br>
False

> print(elements['helium']['is_noble_gas'])<br>
True

In [ ]:
elements = {'hydrogen': {'number': 1, 'weight': 1.00794, 'symbol': 'H'},
            'helium': {'number': 2, 'weight': 4.002602, 'symbol': 'He'}}

# todo: Add an 'is_noble_gas' entry to the hydrogen and helium dictionaries
# hint: helium is a noble gas, hydrogen isn't
elements['helium']['is_noble_gas'] = True
elements['hydrogen']['is_noble_gas'] = False

In [50]:
range(0,10)

range(0, 10)

In [51]:
2 in range(0,10)

True

In [53]:
5 in range(0,10,2)

False

In [56]:
for student in students:
    print(student)

sam
pam
rocky
austin
steve
banner
bruce
tony
henry
clark
diana

In [63]:
for student in range(len(students)):
    print(students[student])

sam
pam
rocky
austin
steve
banner
bruce
tony
henry
clark
diana

In [59]:
len(students)

11

In [61]:
for student in students:
    print(student)

['sam', 'pam', 'rocky', 'austin', 'steve']

In [ ]:
students[5] = "Nikhat"

In [71]:
print("hello")

for i in range(100000000):
    pass

print("Students")

hello
Students