### Simplicity of Python

In [1]:
2+3

5

In [2]:
2-9

-7

In [3]:
2+3
4+5

9

In [4]:
print(2+3)
print(4+5)

5
9

### Variable

In [5]:
var = 2+3

In [6]:
var

5

In [7]:
7var1

SyntaxError: invalid syntax (<ipython-input-7-33ddc30d36b6>, line 1)

In [8]:
#var7

In [9]:
@var = 5

SyntaxError: invalid syntax (<ipython-input-9-6a347006f296>, line 1)

In [10]:
_var = 5

In [11]:
_var

5

In [12]:
Python = 5

In [13]:
python = 3

In [14]:
Python

5

In [15]:
PYTHON

NameError: name 'PYTHON' is not defined

### Strings

In [16]:
"ueiuryopypqytyytpiuypiuy"

'ueiuryopypqytyytpiuypiuy'

In [17]:
'ueiuryopypqytyytpiuypiuy'

'ueiuryopypqytyytpiuypiuy'

In [18]:
"!@#$%^&*(())"

'!@#$%^&*(())'

In [19]:
'Akash'

'Akash'

In [20]:
type(5)

int

In [21]:
type("Akash")

str

In [22]:
ueiuryopypqytyytpiuypiuy

NameError: name 'ueiuryopypqytyytpiuypiuy' is not defined

In [23]:
True

True

In [24]:
5>6

False

# Data Struct

##### DATA Struct

### LIST

In [25]:
List = [2,3,4,5,6,79]

In [26]:
List

[2, 3, 4, 5, 6, 79]

In [27]:
List = list((4,5,7,8))
List

[4, 5, 7, 8]

In [28]:
type(List)

list

In [29]:
List[0]

4

In [30]:
len(List)

4

### Append vs Extend

In [31]:
List = [2,3,4,5,6,79,"Akash"]

In [32]:
List.append([45,54,7,8])

In [33]:
List

[2, 3, 4, 5, 6, 79, 'Akash', [45, 54, 7, 8]]

In [34]:
len(List)

8

In [35]:
List[4]

6

In [36]:
List[4] = 21

In [37]:
List

[2, 3, 4, 5, 21, 79, 'Akash', [45, 54, 7, 8]]

In [38]:
List[7]

[45, 54, 7, 8]

In [39]:
List[7][1]

54

In [40]:
List.extend([45,54,7,8])

In [41]:
List

[2, 3, 4, 5, 21, 79, 'Akash', [45, 54, 7, 8], 45, 54, 7, 8]

In [42]:
len(List)

12

### Removing data from a List

In [43]:
List.remove(8)

In [44]:
List

[2, 3, 4, 5, 21, 79, 'Akash', [45, 54, 7, 8], 45, 54, 7]

In [45]:
List.remove(45)

In [46]:
List

[2, 3, 4, 5, 21, 79, 'Akash', [45, 54, 7, 8], 54, 7]

In [47]:
List.pop()

7

In [48]:
List.pop(3)

5

### Tuple

In [49]:
tup = (1,2,3,4,8)

In [50]:
List

[2, 3, 4, 21, 79, 'Akash', [45, 54, 7, 8], 54]

In [51]:
List[1] = 20
List

[2, 20, 4, 21, 79, 'Akash', [45, 54, 7, 8], 54]

In [52]:
tup[1] = 20

TypeError: 'tuple' object does not support item assignment

In [53]:
lst = [7,8,9,12]

In [54]:
List + lst

[2, 20, 4, 21, 79, 'Akash', [45, 54, 7, 8], 54, 7, 8, 9, 12]

In [55]:
tup

(1, 2, 3, 4, 8)

In [56]:
ple = (12,13,45,59)

In [57]:
tup +ple

(1, 2, 3, 4, 8, 12, 13, 45, 59)

In [58]:
lst +ple

TypeError: can only concatenate list (not "tuple") to list

# set

In [59]:
List = [4,5,6,7,8,9,4,5,6,7,45,64,45]

In [60]:
set(List)

{4, 5, 6, 7, 8, 9, 45, 64}

### Type casting

In [61]:
5

5

In [62]:
5+6

11

In [63]:
'5' + 6

TypeError: can only concatenate str (not "int") to str

In [64]:
var = '5'

In [65]:
int(var)+ 6

11

In [66]:
type(4)

int

In [67]:
type(5.6)

float

In [68]:
var1 =  4 + 5.6
type(var1),var1

(float, 9.6)

### Dict

In [69]:
Dict = {1: 'Euphoria', 2: 'Genex', 3: 'Students'}
print(Dict)

{1: 'Euphoria', 2: 'Genex', 3: 'Students'}

In [70]:
Dict[1], Dict[2]

('Euphoria', 'Genex')

In [71]:
Dict1 = {1: 'Euphoria', 2: 'Genex', 3: 'Students',"Swagata":"CSE",('A', 'B'):3}
print(Dict1)

{1: 'Euphoria', 2: 'Genex', 3: 'Students', 'Swagata': 'CSE', ('A', 'B'): 3}

In [72]:
Dict1["Swagata"]

'CSE'

In [74]:
Dict1[('A', 'B')]

3

In [75]:
79 # --> ptint(79)

79

In [76]:
78,36 #--> print(tuple(78,36))

(78, 36)

### Conditional Statements

In [77]:
a = 5

In [78]:
if a < 6:
    print("less")

less

In [79]:
a = False

In [80]:
a = -3

In [81]:
if a == True:
    print("Valid")

In [82]:
if a:
    print("Valid")

Valid

In [83]:
if -3:
    print("valid")

valid